<% include partials/header %>


  <div class="container-fluid text-center poll-landing">
    <a href="/polls" class='btn btn-primary btn-lg' style='margin-top: 20%;'>View All Polls</a>
  </div>








<% include partials/footer %>
