
<% include partials/header %>

<div class="container text-center" id='poll-container'>
  <h1>FCC Voting</h1>
  <h2>Select a poll to see the results and vote, or sign-in to make a new poll.
  </h2>

  <div class="container" id='all-polls'>
    <a href="/polls/:id"></a>
  </div>
</div>

<% include partials/footer %>
