
<% include partials/header %>

<div class="container text-center" id='poll-container'>
  <h1>FCC Voting</h1>
  <h2>Select a poll to see the results and vote, or sign-in to make a new poll.
  </h2>

  <div  id='all-polls'>
    <% polls.forEach(function(poll){ %>
      <div id='singlePoll' class="text-center">
      <a href='/polls/<%= poll._id %>'>
      <h3 class='poll-name'><%= poll.pollName %></h3>
      </a>
      </div>
  <%  });  %>
  </div>
</div>


<% include partials/footer %>
