<% include partials/header %>

<div class="text-center">
  <h1><%= foundPoll.pollName %></h1>
  <p>
    Some random description about <%= foundPoll.pollName %>
  </p>
</div>

<% include partials/footer %>
