html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  background-color: #AFEEEE;
  position: relative;
  margin: 0;
 padding-bottom: 6rem;
 min-height: 100%;
 font-family:  ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

}

a:hover{
  cursor: hand
}
.navbar-default{
  margin-bottom: 0;
}
.poll-landing{
  height: 100%;
  background: url('https://hd.unsplash.com/photo-1467173572719-f14b9fb86e5f');
  background-size: cover;
}

#poll-container{
  font-family:  ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #00CED1;
}

#singlePoll{
  background-color: black;
  color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.poll-name{
  color: white;
}

.main-poll{
  margin-top: 5%;
}

#showChart{
  width: 800 ;
  height: 800 ;
}

#myChart{
  width: 100% !important;
  height: 100% !important;
}


select{
  width: 100%;
  margin-bottom: 2px;
}



.userPolls{
  margin: auto;
  text-align: center;
}

.link {
  margin-top: -10px;
  margin-right: 5px;
}

.voted-graph{
  display: inline-block !important;
  margin-left:auto !important;
  margin-right: auto !important;
  background-color: #F0F8FF !important;
}


#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #00CED1;
  text-align: center;
}

#footer p{
  margin: 5px 0;
}
