body{

}
.navbar-default{
  margin-bottom: 0;
}
.poll-landing{
  height: 100%;
  background: url('https://hd.unsplash.com/photo-1467173572719-f14b9fb86e5f');
  background-size: cover;
}

#poll-container{
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 20px;
  background-color: lightgray;
}

#singlePoll{
  background-color: black;
  color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.userPolls{
}

.voted-graph{
  display: inline-block !important;
  margin-left:auto !important;
  margin-right: auto !important;
}
