body{
  background-color: #F0F8FF;

}

a:hover{
  cursor: hand
}
.navbar-default{
  margin-bottom: 0;
}
.poll-landing{
  height: 100%;
  background: url('https://hd.unsplash.com/photo-1467173572719-f14b9fb86e5f');
  background-size: cover;
}

#poll-container{
  font-family:  ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #00CED1;
}

#singlePoll{
  background-color: black;
  color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.poll-form{
  margin-top: 50%;
}

select{
  width: 100%;
  margin-bottom: 2px;
}

svg{
  background-color: #F0F8FF ! important;

}

.userPolls{
  margin: auto;
  text-align: center;
}

.link {
  margin-top: -10px;
  margin-right: 5px;
}

.voted-graph{
  display: inline-block !important;
  margin-left:auto !important;
  margin-right: auto !important;
  background-color: #F0F8FF !important;
}

#footer{
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 35px;
  width: 100%;
  background-color: #00CED1 ;
}

#footer p{
  margin: 5px 0;
}
